/*共通css*/
*{/*ブラウザのデフォルトcssを無効化 */
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
p{color: #333333;
font-weight:300;}
body {
margin: 0px auto;
padding: 0px;
text-align: center;
font-size: 16px;/*rem指定のための基準サイズ */
font-family: 'M PLUS 1p', sans-serif;
font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
font-family: "Hiragino Sans"
}

header{font-size: 1.2rem;
margin-top: 1.2rem;
margin-bottom: 4rem;

}


main{
  margin-top: 5rem;
  margin-bottom: 5rem;
　 height: auto;
}

img#aiueo700{
margin: auto;
width: 70%;

}

img#aiueo700:hover{
width:71%;
transition: 0.5s;
}

img#logo1{
  max-width:20px;
}


li{list-style: none;
display: inline;
font-weight: 400;
font-size: 1rem;

}


footer{margin-bottom: 2rem;
  margin-top: auto;
font-size: 0.8rem;}

a{color:#262626; }/*リンクcolor */
a:visited{
  color : #262626;/*アクセス済みcolor */
}

a:hover{
  color : #ff8c00;/*point乗せたとき色 */
}
li{margin: 0.3rem;
  }/*メニュー間隔 */
a{display: inline-block;

}

ul{border-bottom: 1px solid #dcdcdc;
  padding-bottom: 15px;
text-align: center;
}


/*prelistcss*/
section#prelist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5rem;
  margin-right:5rem;
  padding-top: 0.5rem;
}
section#prelist article{
  width:200px;
  margin-top: 1rem;
}
section#prelist article img{
  width:100%;
}

article#textback{
  background-color: #dcdcdc;
}
p#download{font-size: 0.9rem;}

/*プリセット個別ページcss*/
section#preset{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10%;
  margin-right:10%;
}
section#preset article{
  width:400px;
}
section#preset article img{
  width:90%;
}

article #samuneiru{
  margin-top: 10px;
}

p#presettext{
  text-align: left;
}



/*about_only*/
section#abouttext{
margin-left: 10%;
margin-right:10%;
padding-top: 0.5rem;}

section#aboutsection{

  margin-top: 2rem;
  margin-bottom: 2rem;
}


/*How to page */
h4.midasi{
  text-align: left;
  margin-bottom: 0.5rem;
  color: #333333;
}

a.mokuzi{
  color: #4682b4;
}

h3#midasi{
 text-align: left;
 margin-bottom: 0.5rem;
 color: #333333;
}

img#howto1{
  width:80%;
  min-width:300px;
}

   /*480px以下の時 */
   @media only screen and (max-width: 480px) {
　
}
